* {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    box-sizing: border-box;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px #ccc;


}

body {
    background-color: rgba(73, 66, 66, 0.971);
    color: white;
    text-align: center;

}

h2 {
    margin-top: 0;
    margin-bottom: 0;

}

table {
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse; */
    font-family: sans-serif;
}




.cell {
    border-radius: 12%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border: solid 5px rgb(59, 57, 94);

    background-color: rgb(13, 237, 237);
    color: rgb(0, 0, 0);
    font-style: bold;
    opacity: 0.5;
    transition: 0.3s;
}


.mine.shown {
    background-color: rgb(208, 38, 38);
    opacity: 0.85;
}

.num.shown {
    background-color: rgb(45, 221, 145);
    opacity: 1;
}

.empty.shown {
    background-color: rgb(29, 220, 137);
    opacity: 0.7;
}



.marked {
    background-color: rgb(221, 234, 38);
    opacity: 1;
}


.cell:hover {
    /* box-shadow: inset; */
    opacity: 1;
    border: solid 1px rgb(214, 190, 209);
    /* transition: 0.4s; */
}

.modal {
    position: absolute;
    top: calc((50% - 10vh));
    left: calc(50% - 10vw);
    border-radius: 10%;
    display: none;
    background-color: rgb(122, 125, 156);
    border: 5px solid rgb(136, 199, 233);
    color: rgb(200, 19, 19);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.footer {
    box-sizing: content-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3%;
    background-color: rgb(203, 114, 201);
    color: white;
    text-align: center;
    border: solid 2px whitesmoke;
}

nav {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    margin: 1px auto;
    position: relative;
    height: 50px;
    width: 350px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}

nav button {
    background-color: #34495e00;
    border-width: 0;
    line-height: 10px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

nav .animation {

    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all.5s ease 0s;
    border-radius: 8px;
}

/* .btn {
    border-radius: 10%;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 3px;
} */

/* .btn:hover {
    opacity: 0.5;

} */

.start-over:hover {
    margin-top: 0;
    opacity: 0.5;
    animation: bounce 1s;
    background-color: rgba(77, 71, 71, 0);

}


/* .btn-dark {
    box-sizing: content-box;
    width: 80px;
    height: 30px;
    color: rgb(67, 68, 50);
    border: 3px solid rgb(234, 195, 234);
} */

.restart-btn {
    color: rgb(67, 68, 50);
    border: 3px solid plum;
    background-color: salmon;
    font-family: sans-serif;
}

.restart-btn:hover {
    background-color: lightsalmon;
    background-color: rgb(142, 64, 56);
}

.start-over {
    border-width: 0;
    border-color: rgba(77, 71, 71, 0);
    background-color: rgba(77, 71, 71, 0);
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 3px;

}

/* .btn-ez {
    background-color: rgb(98, 205, 169);
}

.btn-md {
    background-color: rgb(206, 104, 64);
}

.btn-ex {
    background-color: rgb(0, 0, 0);
    color: rgb(200, 19, 19);
} */

/* animation? */
@keyframes bounce {

    0%,
    5% {

        transform: skew(-10deg);
    }

    30%,

    60%,
    99% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {

        transform: skew(-10deg);
    }

    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    70% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

nav button:nth-child(1) {
    width: 120px;
    left: -10px;

}

nav button:nth-child(2) {
    width: 110px;
    left: -10px;
}

nav button:nth-child(3) {
    width: 100px;
    right: -5px;

}

nav .start-Easy,
button:nth-child(1):hover~.animation {
    width: 120px;
    left: 0px;

    background-color: rgb(109, 236, 134);
}

nav .start-Medium,
button:nth-child(2):hover~.animation {
    width: 110px;
    left: 120px;
    background-color: rgb(239, 220, 99);
}

nav .start-Expert,
button:nth-child(3):hover~.animation {
    width: 110px;
    left: 240px;
    background-color: rgb(239, 99, 99);
}